<nav class="sidebar">
    <ul>
        <li><a href="../index.html"><i class="icon home"></i></a></li>
        <li><a href="../pages/teams.html"><i class="icon teams"></i></a></li>
        <li><a href="../pages/chat.html"><i class="icon chat"></i></a></li>
        <li><a href="../pages/calendar.html"><i class="icon calendar"></i></a></li>
        <li><a href="../pages/calls.html"><i class="icon calls"></i></a></li>
        <li><a href="../pages/files.html"><i class="icon files"></i></a></li>
    </ul>

    <div class="sidebar-bottom">
        <a href="../pages/settings.html"><i class="icon settings"></i></a>
        <div class="user-avatar">US</div>
    </div>
</nav>
